body{
    background-image: url('imagens de fundo/wallpaper002.jpg');
    background-size: cover;
    height: 100vh;
    background-attachment: fixed;

}   

#principal{
    max-width: 400px;
    background-color: white;
    padding: 10px;
    margin: auto;
    
}